html,
body {
  line-height: 1.6;
  font-size: 18px;
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

/* a {
  color: var(--textcolor-link);
  text-decoration: none;
} */

/* a:hover {
  text-decoration: underline;
} */

img {
  max-width: 100%;
  display: block;
}

body {
  padding:2vw;
}
